@import "variables";

.new-tweet {
  padding: 10px;
  box-sizing: border-box;
  background-color: $brand-background;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;

  h2 {
    border-bottom: 1px solid black;
    margin-top: 0;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 5em;
    padding: 5px;
    display: block;
    border-radius: 5px;
    border-color: $brand-background;
    outline-color: $brand-color;
  }

  input {
    margin-top: 3px;
    border-radius: 3px;
    outline: 0;
  }

  .counter {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
  }
  
}

.new-tweet input:hover {
  background-color: rgb(163, 158, 158);
  color: white;
}