  #nav-bar {
    background-color: #2eceb6;
    padding-left: 2em;
    padding-right: 2em;
    color: #ffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

#nav-bar .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-top: 6px;
  }

#nav-bar .header {
  float: left;
  line-height: 90px;
  font-size: 2em;
  font: impact;
}

#nav-bar .nav-buttons {
  float: right;
}

#nav-bar .compose {
  margin-right: 5px;
  margin-top: 24px;
  height: 40px;
  border-radius: 5px;
  line-height: 5px;
}

#nav-bar .compose:hover {
  background-color: rgb(146, 138, 138);
  border: black;
  color: white;
}

#nav-bar .compose i {
  float: left;
  margin-right: 5px;
  margin-top: -7px;
  font-size: 23px;
}

#nav-bar .compose i:hover {
  color: white;
}